@import '/src/styles/variables';

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 20px;

  h1 {
    color: $base-color;
  }

  nav {
    a {
      margin: 0px 15px;
      cursor: pointer;
    }
  }
}