<mat-card class="post-card" *ngIf="post">
    <div class="post-card-header">
        <mat-card-header>
            <div mat-card-avatar class="post-card-image"></div>
            <mat-card-title class="post-card-name">{{post.userName}}</mat-card-title>
            <mat-card-subtitle class="post-card-date">{{post.datePost | date :'longDate' }}</mat-card-subtitle>
        </mat-card-header>
        <button mat-icon-button color="warn">
            <mat-icon>favorite</mat-icon>
        </button>
    </div>
    <mat-card-content>
        <h3>
            {{post.title}}
        </h3>
        <p>
            {{post.description}}
        </p>
    </mat-card-content>
</mat-card>