@import '/src/styles/variables';
.post-card {
    margin-bottom: 8px;
    width: 100%;
    p, h2, h3{
        margin: 0px
    }
    h2{
        color:$base-color;
    }
    h3{
        margin-bottom: 10px;
    }
    &-image{
        background-image: url('../../../../assets/img/profile-icon-png-899-Windows.ico');
        background-size: cover;
    }
    &-header{
        display: flex;
        justify-content: space-between;
    }
}
