
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    *{
        margin: 0
    }
    h1{
        color: rgba(34, 180, 34, 0.712);
    }
    nav{
        display: flex;
        a{
            margin: 0 10px;
            height: min-content;
        }
    }
}

.content{
    display: flex;
    justify-content: space-between;
    
    &__newsfeed{
        width: 75%;
        display: flex;
        flex-direction: column;
    }

    &__tagbar{
        width: 20%;
        height: 100px;
        padding: 10px;
        border-radius: 5px;
        background-color: whitesmoke;
        h3{
            margin: 0;
        }
    }

}
