<header>
  <h1>
    My Blog
  </h1>
  <nav>
    <a>Home</a>
    <a (click)="showFormForNewPost = !showFormForNewPost">New Article</a>
    <a>User Name</a>
  </nav>
</header>
<div class = "content">
  <div class="content__newsfeed">
    <div class="content__newsfeed__form">
      <form [ngStyle] = "{
          display: showFormForNewPost ? 'block' : 'none'
        }"
        [formGroup] = "form"
        (ngSubmit) = "submit()"
      >
      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Main title for new post" value="" formControlName = "title" autocomplete="off">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Description</mat-label>
          <input matInput placeholder="Short description for post" value="" formControlName = "description" autocomplete="off">
        </mat-form-field>
      </div>
      <button mat-raised-button type = "submit" [disabled] = "form.invalid">Submit</button>
      </form>
    </div>
    <app-post
      *ngFor = "let p of posts"
      [post] = "p"
    ></app-post>
  </div>
  <aside class="content__tagbar">
    <h3>
      Popular Tags
    </h3>
    <p>
        {{(listTags).length ? (listTags).toString() : 'No tags are here... yet'}}
    </p>
  </aside>
</div>