.post{
    width: 100%;
    &-post-info{
        display: flex;
        justify-content: left;
        min-height: 50px;
        padding: 10px;
        div{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }
    }
    p, h2, h3{
        margin: 0px
    }
    h2{
        color:yellowgreen
    }
    h3{
        margin-bottom: 10px;
    }
}

.post-card {
    margin-bottom: 8px;
    &-image{
        background-image: url('../../assets/img/profile-icon-png-899-Windows.ico');
        background-size: cover;
    }
}
